*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;/*whenever someone navigation through navigation bar it goes to that section smoothly*/
}

#background{
    background: url(../images/background.jpg) no-repeat center center/cover;
    height: 90vh;
}

#navbar{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0,0.3);
    position: fixed;
    width: 100%;
    top: 0px;
}

#logo{
    margin: 20px;
}

#logo img{
    height: 50px;
    width: 80px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 2px 22px;
    font-size: 1.3rem;
    color: whitesmoke;
    font-family: 'Bree Serif', serif;
}
#navbar ul li a:hover{
    background-color: rgb(0, 0, 0,0.4);
    border-radius: 20px;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 300px;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#home h1{
    color: whitesmoke;
    text-align: center;
}

#home p{
    color: whitesmoke;
    font-family: 'Bree Serif', serif;
}

.h-primary{
    font-size: 3rem;
    padding: 15px;
    font-family: 'Bree Serif', serif;
    text-align: center;
}
.btn{
    padding: 10px 20px;
    margin: 20px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    background-color: rgb(253, 131, 131);
    border-radius:30px ;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
}

.h-secondary{
    font-size: 2rem;
    padding: 15px;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

.services{
    display: flex;
}

.services .box{
    border: 2px solid brown;
    text-align: center;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(243, 239, 239);
}

.services .box img{
    display: block;
    height: 100px;
    margin: auto;
}

.center{
    text-align: center;
}

.clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
.client{
    margin: 10px 30px;
}

.contact{
    background: url(../images/contact.jpg) no-repeat center center/cover;
}

.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:30px ;
}

.contact-box input, .contact-box textarea{
width: 100%;
padding: 0.5rem;
}

.contact-box form{
    width: 40%;
}

.contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer{
    background: black;
    color: whitesmoke;
    padding: 10px;
}